body {
  //background-image: url('../img/binding_dark.png');
  background-color: #262b30;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  //border-style: solid;
  border-color: white;
  //border-width: 10px;
  border-radius: 5px;
  //box-shadow: 5px 5px 3px black;
  background-color: #f5f6f6;
  padding: 25px;
  padding-top: 45px;
  padding-bottom: 10px;
  color: #424242;
}

.content-container h2{
	margin-top: 0px;
}

.left-col-width{
	width: 170px;
}

.detail-header{
	margin-bottom: 15px;
}

.no-margin-left{
	margin-left: 0px;
	padding-left: 0px;
}

.spacer{
	margin-bottom: 15px;
}

.tracks{
	margin-top: 35px;
	margin-bottom: 15px;
}

.indent-left{
	padding-left: 30px;
}

.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.5);
    /* For IE 5.5 - 7*/
   
}

.equal-height h4{
	margin-top: 0px;
}

.flat-bottom{
	margin-top: 15px;
}

.equal-height{
	height: 100px;
}

