<html>
<head>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}" />
</head>
<body>
  <div>
    <div class="content-container container">

      <div class="row detail-header">
        <div class="col-sm-4 left-col-width">
          <img src="{{ picture }}" alt="" />
        </div>
        <div class="col-sm-8">
          <h2>{{ name }}</h2>
          <h4>{{ description}}</h4>
        </div>
      </div>
      <div class="tracks">
        {% for track in other_songs %}
        <div class="row spacer song">
          <div class="col-sm-4 left-col-width"></div>
          <div class="col-sm-8">
            <div class="col-sm-4 no-margin-left">
              <img src="{{ track.artworkUrl100 }}" alt="" />
            </div>
            <div class="col-sm-7 equal-height">
              <h4>{{ track.trackName }}</h4>
              <h5>{{ track.collectionName }}</h5>
              <div class="flat-bottom"><h5><a href="">${{ track.trackPrice }}</a></h5></div>
            </div>
            <audio id="audio" src="{{ track.previewUrl }}">
            </audio>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>

</div>
</div>
<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/js/detail.js"></script>
</body>
</html>
